<!DOCTYPE html>
<html>
<head>
    <title>Email Validation Result</title>
    <!-- linking a css style sheet -->
    <link rel="stylesheet" type="text/css" href="static/style.css">
    <!-- linking a javascript file -->
    <!-- <script type="text/javascript" src='{{ url_for('static', filename='js/my_script.js') }}'></script> -->
</head>
<body>
    <div id="wrapper">
      
            <h5>You just deleted<em style="color: red">{{deletedemail}}</em> </h5>
        <a href="{{ url_for('index') }}"> Home Page </a> 
        
    </div>
</body>
</html>